{% extends "base.html" %}
{% block title %}About Me{% endblock %}
{% block content %}
<div class="terminal page-terminal">
    <div class="terminal-header">
        <div class="button red"></div>
        <div class="button yellow"></div>
        <div class="button green"></div>
    </div>
    <div class="terminal-body">
        <p data-terminal-typed>
Hi, I'm Xurxox 👨‍💻
Cloud / DevOps Junior
Linux, Python, Flask
AWS: S3, Lambda, RDS, CloudFormation
I like minimalist design + terminal aesthetics
        </p>
    </div>
</div>
{% endblock %}
